.bookmarkButton {
    background-color: transparent;
    color: #a3a3a3;
    border: 1px solid #4b5563;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
  
.bookmarkButton:hover {
    background-color: #4b5563;
    color: #fff;
}
  
.bookmarkButtonActive {
    background-color: #10b981;
    color: #fff;
    border-color: #10b981;
}
  
.bookmarkButtonActive:hover {
    background-color: #059669;
    border-color: #059669;
}

.storyContent {
    font-family: 'Indie Flower', cursive; /* The second font is a fallback */
    font-size: 20px; /* Adjust the font size as needed */
    line-height: 1.6; /* This increases the space between lines */
    letter-spacing: 0.5px; /* This increases the space between letters */
  }