.genre-art-style {
    cursor: pointer;
    transition: transform 0.2s;
}
.genre-art-style:hover {
    transform: scale(1.05);
}
.genre-art-style img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px; 
    height: 100px; 
}

.selected {
    background-color: #4CAF50; 
    color: white; 
    transform: scale(1.05); 
}
